{% render 'partials/head.liquid', title: 'Squad page' %}

<details>
  <summary>Sorteer</summary>
  {% for squad in squads %}
    <a href="/squad/{{ squad.name }}">{{ squad.name }} oud naar jong</a>
    <a href="/squad/{{ squad.name }}/young">{{ squad.name }} jong naar oud</a>
  {% endfor %}
</details>

<h1>Studenten</h1>

{% for person in persons %}
  <article>
    <h2>{{ person.name }}</h2>
    <p>Birthdate: {{ person.birthdate }}</p>
  </article>
{% endfor %}
{% render 'partials/foot.liquid', title: 'Squad page' %}